.navbarMain{
position: absolute;
width: 100%;
height: 143px;
background: #E9E9E9;
}

.eqaimBlog{
position: relative;
width: 263px;
height: 58px;
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 58px;
color: #000000;
height: 58px;
left: 91px;
top: 42px;

}